@keyframes shake{
    0%{
        transform: translate3d(-1px, 0, 0);
    }
    91%, 99%{
        transform: translate3d(-1px, 0, 0);
    }
    92%, 98%{
        transform: translate3d(2px, 0, 0);
    }
    93%, 95%, 97%{
        transform: translate3d(-4px, 0, 0);
    }
    94%, 96%{
        transform: translate3d(4px, 0, 0);
    }
}
.shakeit{
    animation: shake 10s linear infinite;
    perspective: 1000px;
}