// Atenção, além de blog-feed.php tbm dá stilo para:
// relacionados-blog-single.php
.blog-feed{
    padding-top: 35px;
    padding-bottom: 35px;
    @media (min-width: $tablets) {
        padding-top: 60px;
        padding-bottom: 35px;
    }
    a{
        width: 100%;
        text-decoration: none;
        color: white;
    }
    .col-md-12{
        .post-col{
            @media (min-width: $tablets) {
                height: 550px;
            }
        }
    }
    .col-md-6{
        .post-col{
            @media (min-width: $tablets) {
                height: 310px;
            }
        }
    }
    .post-col{
        position: relative;
        display: flex;
        height: 190px;
        @media (min-width: $tablets) {
            margin-bottom: 15px;
        }
        img.fundo{
            position: absolute;
            top: 0;
            object-fit: cover;
            z-index: -1;
            filter: brightness(0.6);
        }
        .intern{
            width: 100%;
            margin: auto 0 0;
            padding: 50px 15px 15px;
            background-image: linear-gradient(0deg, #0B0B0E, transparent);
            @media (min-width: $tablets) {
                padding: 70px 40px 40px;
            }
            h3{
                font-size: 20px;
                margin-bottom: 0;
                @media (min-width: $tablets) {
                    font-size: 25px;
                    margin-bottom: 15px;
                }
            }
            p.category{
                position: absolute;
                top: 10px;
                left: 15px;
                margin-bottom: 0;
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 5px;
                @media (min-width: $tablets) {
                    position: relative;
                    font-size: 20px;
                    top: 0;
                    left: 0;
                    letter-spacing: normal;
                    padding: 5px 20px;
                    border: 2px solid $gold1;
                    display: inline;
                }
                &::before{
                    content: '\2014';
                    margin-right: 10px;
                    @media (min-width: $tablets) {
                        content: none;
                    }
                }
            }
        }
    }
}