.blog-card{
    margin-bottom: 2px;
    @media (min-width: $tablets) {
        margin-bottom: 10px;
    }
    @media (min-width: $desktops) {
        margin-bottom: 40px;
    }
    // se o post não tem thumbnail...
    &.no-thumb{
        .post-col{
            background-image: url(../img/apex-blog-card-bg-1.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        // .post-col{
        //     color: #636363;
        //     border: 2px solid #768791;
        // }
    }
    a{
        width: 100%;
        text-decoration: none;
        color: white;
    }
    .col-md-12{
        .post-col{
            @media (min-width: $tablets) {
                height: 550px;
            }
        }
    }
    .col-md-6{
        .post-col{
            @media (min-width: $tablets) {
                height: 310px;
            }
        }
    }
    .post-col{
        position: relative;
        display: flex;
        height: 190px;
        @media (min-width: $tablets) {
            height: 200px;
        }
        @media (min-width: $desktops) {
            height: 400px;
        }
        img.fundo{
            position: absolute;
            top: 0;
            object-fit: cover;
            z-index: -1;
            filter: brightness(0.6);
        }
        .intern{
            width: 100%;
            height: fit-content;
            margin: auto 0 0;
            padding: 50px 15px 15px;
            background-image: linear-gradient(0deg, #0B0B0E, transparent);
            @media (min-width: $tablets) {
                padding: 70px 40px 40px;
            }
            h3{
                font-size: 20px;
                margin-bottom: 0;
            }
            p.category{
                position: absolute;
                top: 10px;
                left: 15px;
                margin-bottom: 0;
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 5px;
                @media (min-width: $tablets) {
                    font-size: 15px;
                    top: 30px;
                    left: 30px;
                }
                &::before{
                    content: '\2014';
                    margin-right: 10px;
                }
            }
        }
    }
}