.blog-sidebar{
    margin-top: 50px;
    font-family: Lato, sans-serif;
    @media (min-width: $tablets) {
        margin-top: 0;
        padding-left: 10px;
    }
    > *{
        margin-bottom: 30px;
        @media (min-width: $tablets) {
            margin-bottom: 50px;
        }
    }
    h2{
        font-size: 15px;
        color: #636363;
        text-transform: uppercase;
        margin-bottom: 15px;
        text-align: center;
    }
    hr{
        width: 70%;
        height: 2px;
        background-color: $yellow1;
        margin: 0 auto 30px;
    }
}