.btn{
    &.green{
        background-color: #4AD23C;
    }
    &.red{
        background-color: #ED3E3F;
    }
    &.yellow{
        background-color: $yellow1;
    }
    &.blue{
        background-color: $blue2;
    }
    &.cian{
        background-color: $blue3;
    }
}
.btn-y{
    color: white;
    background-color: $yellow1;
    border-color: $yellow1;
    font-weight: 200;
    padding: .5rem 2rem;
    text-transform: uppercase;
    transition: all .3s;
    &:hover{
        transform: scale(1.05);
        color: white;
    }
}
.btn-b{
    color: white;
    background-color: $blue3;
    border-color: $blue3;
    font-weight: 200;
    padding: .5rem 2rem;
    text-transform: uppercase;
    &:hover{
        color: white;
    }
}