.content-blog{
    padding-top: 20px;
    padding-bottom: 50px;
    @media (min-width: $desktops) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .pagination{
        display: flex;
        margin-top: 30px;
        @media (min-width: $desktops) {
            margin-top: 30px;
        }
        .nav-links{
            margin: 0 auto;
            font-family: Lato, sans-serif;
            .page-numbers{
                color: black;
                font-size: 16px;
                text-align: center;
                padding: 8px 15px;
                transition: all .3s;
                &.current, &:hover{
                    color: white;
                    background-color: $blue3;
                }
            }
        }
    }
}
// estilos para content-blog-single.php, content-page.php
.blog-single{
    padding-top: 30px;
    padding-bottom: 80px;
    @media (min-width: $desktops) {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .redes-sociais{
        margin-bottom: 30px;
    }
    .cat-list{
        margin-bottom: 30px;
        font-weight: 100;
        @media (min-width: $desktops) {
            text-align: right;
        }
    }
    .crumbs{
        font-weight: bold;
    }
    h1{
        font-size: 30px;
        font-weight: normal;
        @media (min-width: $desktops) {
            font-size: 40px;
            margin-bottom: 40px;
        }
    }
    img{
        max-width: 100%;
        object-fit: contain;
    }
}