.galeria-imoveis-single{
    background-image: url(../img/bg-rodape.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px 50px;
    color: white;
    @media (min-width: $desktops) {
        padding: 70px 140px 100px;
    }
    h2{
        font-size: 40px;
        margin-bottom: 10px;
    }
    hr{
        color: $yellow1;
        width: 100px;
        height: 2px;
        margin-bottom: 30px;
    }
    .line {
        background-color: $yellow1;
        width: 15px;
        height: 1px;
        margin: auto 0;
    }
    ul{
        list-style: none;
        padding: 15px 0;
        margin: auto 0;
        display: flex;
        overflow-x: auto;
        li{
            white-space: nowrap;
            margin: 0 10px;
            font-size: 15px;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .3s;
            &:not(:last-child){
                margin-right: 20px;
            }
            &.active{
                color: $yellow1;
            }
        }
    }
    .galeria{
        .item{
            margin-bottom: 24px;
            &.disabled{
                display: none;
            }
            iframe, img{
                width: 100%;
                @media (min-width: $tablets) {
                    height: 200px;
                    object-fit: cover;
                }
                @media (min-width: $fullHdDesktops) {
                    height: 300px;
                }
            }
        }
    }
    .bottom-buttons{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        > *{
            width: 100%;
            margin: 20px 10px 0;
            @media (min-width: $tablets) {
                width: auto;
                margin: 40px 10px 0;
            }
        }
        // > *{
        //     margin: 40px auto 0;
        // }
        // &.has-materiais{
        //     > *:first-child{
        //         @media (min-width: $desktops) {
        //             margin: 40px 10px 0 auto;
        //         }
        //     }
        //     > *:last-child{
        //         margin: 40px auto 0 10px;
        //     }
        // }
    }
}