// originalmente layout da seção imoveis-slide
// tbm utilizado em header-imoveis com modificações
// utilizado em header-imoveis-tax
// ATENÇÂO: modificação para headers abaixo header.imoveis-slide
.imoveis-slide{
    // background-color: $blue1;
    color: white;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    @media (min-width: $desktops) {
        padding-top: 150px;
        padding-bottom: 100px;
    }
    img.bg{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .line{
        background-color: $gold1;
        width: 15px;
        height: 1px;
        margin: auto 0;
    }
    ul.cat-list{
        padding: 15px 0;
        margin: auto 0;
        list-style: none;
        display: flex;
        overflow-x: auto;
        li{
            white-space: nowrap;
            margin: 0 10px;
            font-size: 15px;
            text-transform: uppercase;
            cursor: pointer;
            &.active{
                color: $yellow1;
            }
        }
    }
    .owl-stage-outer{height: 100%;}
    .owl-stage{height: 100%;}
    .owl-item{height: 100%;}
    .h-content{
        height: fit-content;
    }
    .carrosselimoveis{
        background-color: black;
        height: 500px;
        .item{
            height: 100%;
            overflow: hidden;
            position: relative;
            color: $blue2;
            border-top: 4px solid $yellow1;
            @media (min-width: $desktops) {
                border-top: 4px solid white;
            }
            .text-content{
                width: 100%;
                height: 40%;
                margin: 0;
                padding: 30px 40px;
                background-color: white;
                position: relative;
                @media (min-width: $desktops) {
                    padding: 30px 40px;
                }
            }
            .isLancamento{
                width: fit-content;
                position: absolute;
                color: white;
                top: 40px;
                left: -50px;
                transform: rotate(-45deg);
                background-color: $red1;
                padding: 5px 60px;
            }
            img.fundo{
                width: 100%;
                height: 60%;
                padding: 0;
                object-fit: cover;
                z-index: -1;
            }
            h2{
                height: 50px;
                color: $blue3;
                font-size: 25px;
                text-transform: uppercase;
                padding: 0;
                @media (min-width: $desktops) {
                    font-size: 20px;
                    font-weight: bold;
                }
                @media (min-width: $fullHdDesktops) {
                    font-size: 25px;
                }
            }
            h3{
                width: fit-content;
                color: $yellow1;
                background-color: $blue2;
                font-size: 20px;
                text-transform: uppercase;
                padding: 5px 15px;
                @media (min-width: $desktops) {
                    width: fit-content;
                    padding: 5px 15px;
                }
            }
            .details{
                padding: 0;
                @media (min-width: $desktops) {
                    margin-bottom: 15px;
                }
                .detail{
                    display: flex;
                    margin-right: 10px;
                    img{
                        width: 30px;
                        height: 30px;
                        margin: 0 auto 5px;
                        // o carro fica pequeno com largura igual
                        &[src$="car.svg"],&[src$="car-blue.svg"]{
                            width: 50px;
                        }
                    }
                    p{
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        padding: 0 5px;
                        margin: auto 0;
                    }
                }
            }
            .btn-img{
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                right: 20px;
                bottom: 20px;
                padding: 0;
            }
        }
        .owl-dots{
            position: relative;
            display: flex;
            bottom: 10px;
        }
        .owl-dot{
            background-color: #00000066!important;
            width: 16px;
            height: 2px;
            margin: 0 3px;
            &.active{
                background-color: $yellow1!important;
            }
        }
        .owl-dot:first-child{
            margin-left: auto;
        }
        .owl-dot:last-child{
            margin-right: auto;
        }
        .owl-nav{
            position: absolute;
            top: 50%;
            right: 0;
            button {
                &.owl-prev, &.owl-next{
                    display: block;
                    background-color: white;
                    padding: 10px!important;
                }
                &:focus {
                    outline: none;
                }
                &:first-child{
                    border-bottom: 1px solid#00233333;
                }
                svg{
                    width: 10px;
                    height: 18px;
                    path{
                        fill: $blue2;
                    }
                }
            }
        }
    }
    .carImoSlide{
        display: none;
        &.active{
            display: flex;
        }
    }
    // modificações para header-imoveis
    &.headerImoveis{
        padding: 0;
        .item{
            border: none;
        }
        .carrosselimoveis{
            height: calc(100vh - 80px);
        }
        // a tag de lançamento muda para a flag
        .lancamento{
            width: 90px;
            position: absolute;
            top: 0;
            right: 15px;
            @media (min-width: $tablets) {
                width: 200px;
            }
            @media (min-width: $desktops) {
                width: 90px;
            }
            @media (min-width: $largeDesktops) {
                width: 100px;
            }
            @media (min-width: $fullHdDesktops) {
                width: 150px;
            }
        }
        .carrosselimoveis .item .btn-img{
            right: 50px;
            @media (min-width: $tablets) {
                width: 50px;
                height: 50px;
            }
        }
    }
}
// quando imoveis slide é header
header.imoveis-slide .item{
    img.fundo{
        height: 70%!important;
    }
    .text-content{
        height: 30%!important;
    }
}