nav.top-menu{
    position: fixed;
    color: white;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    transition: all 1s;
    &.lightbg{
        background: #002333ad;//#00233366;
        .right{
            background:transparent;
        }
    }
    .logo{
        width: 83px;
        height: 82px;
    }
    .left{
        background-color: $blue1;
        border-right: 4px solid $yellow1;
        // remove a borda do desktop
        // fica aparecendo a borda do menu
        @media (min-width: $desktops) {
            border-right: none;
        }
    }
    .right{
        background: #002333ad;//#00233366;
        // background: linear-gradient(#002333ad, transparent);//#00233366;
        transition: all 1s;
        @media (min-width: $desktops) {
            margin-left: auto;
            border-bottom-left-radius: 20px;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    .main-menu{
        display: block;
        background-color: $blue1;
        max-height: 0px;
        overflow: hidden auto;
        transition: all 1s;
        border-right: 4px solid $yellow1;
        @media (min-width: $desktops) {
            display: flex;
            width: auto;
            max-height: unset;
            max-width: 0px;
            overflow: hidden;
        }
        li{
            text-align: center;
            padding: 10px 0;
            white-space: nowrap;
            @media (min-width: $desktops) {
                height: fit-content;
                margin: auto 10px;
            }
            &.current-menu-item{
                a{
                    color: $yellow1;
                }
            }
            &:last-child{
                @media (min-width: $desktops) {
                    margin-right: 30px;
                }
            }
            a{
                color: white;
                text-decoration: none;
            }
            // menu-item que tem sub-menu
            &.menu-item-has-children{
                > a::after{
                    content: '\02C5';
                    margin-left: 5px;
                }
                // quando os subitens do menu devem estar visíveis
                &.active{
                    > a::after{
                        content: '\02C4';
                    }
                    ul.sub-menu{
                        max-height: 200px;
                    }
                }
            }
            ul.sub-menu{
                list-style: none;
                background-color: $blue2;
                max-height: 0px;
                padding: 0 20px;
                overflow: hidden;
                transition: max-height .3s;
                right: 0;
                @media (min-width: $desktops) {
                    position: absolute;
                    background-color: $blue1;
                    right: unset;
                }
                > *:first-child{
                    padding-top: 20px;
                }
                > *:last-child{
                    padding-bottom: 20px;
                }
                li{
                    margin: 0;
                }
            }
        }
    }
    .hambmenu{
        img{
            width: 40px;
            height: 18px;
            &.hamb{
                display: block;
            }
            &.x{
                display: none;
            }
        }
    }
    &.active{
        .main-menu{
            max-height: 450px;
            @media (min-width: $desktops) {
                max-width: 100%;
            }
        }
        .hambmenu img{
            &.hamb{
                display: none;
            }
            &.x{
                display: block;
            }
        }
    }
}