// para ser utilizado nas imagens que serão abertas no modal-img
img[data-modalImg]{
    cursor: pointer;
}
.ssw-modal{
    position: fixed;
    display: flex;
    top: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all .3s;
    color: white;
    background-color: rgba(0, 0, 0, 70%);
    z-index: 9999; // nav está com 999
    &::before{
        content: 'x';
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 30px;
        @media (min-width: $desktops) {
            top: 100px;
            right: 100px;
            font-size: 50px;
        }
    }
    &.active{
        width: 100vw;
        height: 100vh;
    }
    .intern{
        margin: auto;
    }
}
section.modal-img{
    z-index: 99999; // nav está com 999, outros modais com 9999
    .intern{
        img{
            max-width: 95vw;
            max-height: 90vh;
        }
    }
}
section.modal-depoimentos{
    .intern{
        background-color: white;
        max-width: 95vw;
        height: 75vh;
        overflow-y: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        @media (min-width: $desktops) {
            height: 90vh;
            width: 70vw;
        }
    }
}
section.modal-simulador{
    .intern{
        max-width: 95vw;
        max-height: 90vh;
        padding: 30px 0;
        overflow-y: auto;
        @media (min-width: $desktops) {
            padding: 30px 30px 60px;
        }
        &.simulador{
            background-image: none;
            background-color: #fff;//$blue1;
            color: $blue1;
            .title{
                p{
                    color: $blue1;
                }
                hr{
                    @media (min-width: $desktops) {
                        margin-bottom: 40px;
                    }
                }
                
            }
            .form{
                // problema especifico na col-lg-5, dentro do modal fica pequeno
                div.col-lg-5{
                    @media (min-width: $desktops) {
                        width: 60%;
                    }
                }
                fieldset{
                    label{
                        color: $blue1;
                    }
                    input, select{
                        color: $blue1;
                        background-color: #f1f2f7;
                    }
                }
            }
            .page-numbers{
                // problema especifico na col-lg-4, dentro do modal fica pequeno
                div.col-lg-4{
                    @media (min-width: $desktops) {
                        width: 50%;
                    }
                }
                ul{
                    @media (min-width: $desktops) {
                        margin-bottom: 40px;
                    }
                    &::before{
                        background-color: $blue3;
                    }
                    li.page{
                        border: 1px solid $blue3;
                    }
                }
            }
        }
    }
}
// sub_section/obra-imoveis-single-modal.php
// depoimentos-modal.php
// na obra fotos iniciar com height e with 0 dá problema com o carrossel
section.modal-obrafotos{
    width: 100vw;
    height: 100vh;
    display: none;
    &.active{
        display: flex;
    }
    .intern{
        background-color: white;
        max-width: 95vw;
        height: 75vh;
        overflow-y: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        @media (min-width: $desktops) {
            height: 90vh;
            width: 70vw;
        }
    }
}
// modal-buscar.php
section.modal-buscar{
    .intern{
        padding: 30px;
        background-image: url(../img/bg-rodape.jpg);
        label{
            width: 100%;
            margin-bottom: 30px;
        }
        input{
            background-color: white;
            padding: 10px 25px;
            width: 100%;
            margin-bottom: 10px;
            border: none;
            @media (min-width: $desktops) {
                width: 65%;
            }
            &[type="submit"]{
                text-transform: uppercase;
                color: white;
                background-color: $yellow1;
                @media (min-width: $desktops) {
                    width: 30%;
                }
            }
        }
    }
}