// para ser utilizado nas imagens que serão abertas no modal-img
img[data-modalImg]{
    cursor: pointer;
}
.ssw-modal{
    position: fixed;
    display: flex;
    top: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all .3s;
    color: white;
    background-color: rgba(0, 0, 0, 70%);
    z-index: 9999; // nav está com 999
    &::before{
        content: 'x';
        cursor: pointer;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50px;
        right: 50px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: $blue1;
        border-radius: 50%;
        background-color: white;
        @media (min-width: $desktops) {
            right: 100px;
        }
    }
    &.active{
        width: 100vw;
        height: 100vh;
    }
    .intern{
        margin: auto;
    }
}
section.modal-img{
    z-index: 99999; // nav está com 999, outros modais com 9999
    .intern{
        img{
            max-width: 95vw;
            max-height: 90vh;
        }
    }
}
section.modal-depoimentos{
    .intern{
        background-color: white;
        max-width: 95vw;
        height: 75vh;
        overflow-y: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        @media (min-width: $desktops) {
            height: 90vh;
            width: 70vw;
        }
    }
}
section.modal-simulador{
    .intern{
        max-width: 95vw;
        max-height: 90vh;
        padding: 30px 0;
        overflow-y: auto;
        @media (min-width: $desktops) {
            padding: 30px 30px 60px;
        }
        &.simulador{
            background-image: none;
            background-color: #fff;//$blue1;
            color: $blue1;
            .title{
                p{
                    color: $blue1;
                }
                hr{
                    @media (min-width: $desktops) {
                        margin-bottom: 40px;
                    }
                }
                
            }
            .form{
                // problema especifico na col-lg-5, dentro do modal fica pequeno
                div.col-lg-5{
                    @media (min-width: $desktops) {
                        width: 60%;
                    }
                }
                fieldset{
                    label{
                        color: $blue1;
                    }
                    input, select{
                        color: $blue1;
                        background-color: #f1f2f7;
                    }
                }
            }
            .page-numbers{
                // problema especifico na col-lg-4, dentro do modal fica pequeno
                div.col-lg-4{
                    @media (min-width: $desktops) {
                        width: 50%;
                    }
                }
                ul{
                    @media (min-width: $desktops) {
                        margin-bottom: 40px;
                    }
                    &::before{
                        background-color: $blue3;
                    }
                    li.page{
                        border: 1px solid $blue3;
                    }
                }
            }
        }
    }
}
// sub_section/obra-imoveis-single-modal.php
// depoimentos-modal.php
// na obra fotos iniciar com height e with 0 dá problema com o carrossel
section.modal-obrafotos{
    width: 100vw;
    height: 100vh;
    display: none;
    &.active{
        display: flex;
    }
    .intern{
        background-color: white;
        max-width: 95vw;
        height: 75vh;
        overflow-y: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        @media (min-width: $desktops) {
            height: 90vh;
            width: 70vw;
        }
    }
}
// modal-buscar.php
section.modal-buscar{
    .intern{
        padding: 30px;
        background-image: url(../img/bg-rodape.jpg);
        label{
            width: 100%;
            margin-bottom: 30px;
        }
        input{
            background-color: white;
            padding: 10px 25px;
            width: 100%;
            margin-bottom: 10px;
            border: none;
            @media (min-width: $desktops) {
                width: 65%;
            }
            &[type="submit"]{
                text-transform: uppercase;
                color: white;
                background-color: $yellow1;
                @media (min-width: $desktops) {
                    width: 30%;
                }
            }
        }
    }
}
section.modal-galeria{
    span{
        width: fit-content;
        position: relative;
        color: $blue1;
        background-color: white;
        border: 1px solid $blue1;
        font-size: 50px;
        line-height: 50px;
        margin: 10px 0 0;
        padding: 0 20px;
        cursor: pointer;
        // cria uma div interna para efeito
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 0;
            height: 100%;
            background-color: $blue1-bg;
            transition: .2s ease all;
        }
        // se hover a div interna toma 100%
        &:hover::after{
            width: 100%;
        }
        &:first-child{
            margin-left: auto;
            text-align: right;
            &::after {
                right: 0;
            }
        }
        &:last-child{
            margin-right: auto;
            &::after {
                left: 0;
            }
        }
    }
}
section.modal-baixar-materiais{
    .intern{
        max-width: 90vw;
        max-height: 90vh;
        color: $blue1;
        background-color: white;
        padding: 30px 20px;
        overflow-y: auto;
        ul.down-list{
            list-style: none;
            li{
                font-size: 15px;
                text-align: center;
                padding: 10px 0;
                margin: 10px 0;
                @media (min-width: $desktops) {
                    font-size: 20px;
                    text-align: left;
                }
                &:not(:last-child){
                    border-bottom: 1px #00000022 solid;
                }
                img.img-download{
                    transition: all .3s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}