// stiliza tbm section-milharessonhos.php
.saidoaluguel{
    padding-top: 50px;
    padding-bottom: 50px;
    @media (min-width: $desktops) {
        padding-top: 150px;
        padding-bottom: 100px;
    }
    h2{
        font-size: 25px;
        font-style: italic;
        color: $blue1;
        @media (min-width: $desktops) {
            font-size: 30px;
        }
    }
    p{
        font-size: 18px;
        line-height: 25px;
        font-weight: 200;
        color: $blue1;
    }
    .right{
        img{
            width: 100%;
            @media (min-width: $desktops) {
                width: 75%;
            }
        }
    }
    .btn-sda{
        color: white;
        background-color: $blue3;
        border-color: $blue3;
        font-weight: 200;
        padding: .5rem 2rem;
        text-transform: uppercase;
        transition: all .3s;
        &:hover{
            transform: scale(1.05);
            color: white;
        }
        @media (min-width: $desktops) {
            background-color: $yellow1;
            border-color: $yellow1;
        }
    }
}