//variables
$blue1: #002333;
$blue2: #0B3B51;
$blue3: #0080BB;
$yellow1: #FFB200;
$gold1: #CC9B55;
$red1: #F10808;
//breakpoints
$smartphones: 575.98px;
$tablets: 767.98px;
$desktops: 991.98px;
$largeDesktops: 1199.98px;
$hdDesktops: 1440.98px;
$fullHdDesktops: 1919.98px;
$desktops4k: 2999.98; //3840px;